<div class="container">
  <form (submit)="onSubmit()">
    <h2 class="greeting">Create Your Account</h2>

    <div class="custom-input-group">
      <span class="material-icons icon">email</span>
      <input matInput type="email" [(ngModel)]="email" name="email" required placeholder="Email Address" />
    </div>

    <div class="custom-input-group" style="margin-top: 20px;">
      <span class="material-icons icon">lock</span>
      <input matInput type="password" [(ngModel)]="password" name="password" required placeholder="Password" />
    </div>

    <button mat-raised-button color="primary" type="submit" class="login-btn">Create Account</button>

    <button mat-stroked-button color="accent" [routerLink]="['/login']" type="button" class="create-btn">
      Already have an account
    </button>
  </form>
</div>
