<div class="container">
  <form (submit)="onSubmit()">
    <h2 class="greeting">Create Your Account</h2>

    <div class="custom-input-group">
      <span class="material-icons icon">person</span>
      <input
        type="text"
        [(ngModel)]="fullName"
        name="fullName"
        required
        placeholder="Full Name"
      />
    </div>

    <div class="custom-input-group">
      <span class="material-icons icon">account_circle</span>
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        required
        placeholder="Username"
      />
    </div>

    <div class="custom-input-group">
      <span class="material-icons icon">email</span>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="Email Address"
      />
    </div>

    <div class="custom-input-group">
      <span class="material-icons icon">lock</span>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="Password"
      />
    </div>

    <button type="submit" class="login-btn">Create Account</button>

    <button type="button" class="create-btn" [routerLink]="['/login']">
      Already have an account
    </button>
  </form>
</div>
