body {
  background-color: #f3e8ff;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #6a0dad;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-icons button {
  color: white;
  margin-left: 10px;
}

.post-box textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  resize: vertical;
  border-radius: 8px;
  background-color: #fff0ff;
}

button.mat-raised-button {
  background-color: #7e22ce;
  color: white;
}
